<div id="div-{{id}}" class="message">
<span id="SpanImg-{{id}}" class="messageImg">
  <img src="{{imgAvatar}}"/>
  </span>
  <!-- placeholder for textcontent -->
  <span id="textContent-{{id}}" class="messageTextContent"></span>
</div>