 <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="namePlayer-input" type="text" class="validate">
                  <label for="namePlayer-input">Name</label>
                </div>
              </div>
              <div class="row">
              <div class="input-field col s12">
                  <i class="material-icons prefix">room</i>
                  <input id="roomID-input" type="text" class="validate">
                  <label for="roomID-input">RoomID</label>
                </div>
              </div>
              <div class="row">
              <center>
                <a id="connection-button" class="waves-effect waves-light btn">Go!</a>
              </center>
              </div>
            </form>
          </div>