    <div id="page">
    <div class="header">
    <a id="clearCanvas-button" class="navbtn">Clear</a>
    <a id="validateCanvas-button" class="navbtn">Validate</a>
    <div class="title">PICTOBOX</div>
    </div>
    <div id="content"><p style="text-align:center">Loading Canvas...</p></div>
    <div class="footer">
    <div class="palette-case">
      <div class="palette-box">
        <div class="palette white"></div>
      </div>  
      <div class="palette-box">
        <div class="palette red"></div>
      </div>
      <div class="palette-box">
        <div class="palette blue"></div>
      </div>
      <div class="palette-box">
        <div class="palette green"></div>
      </div>
      <div class="palette-box">
        <div class="palette black"></div>
      </div>    
      <div style="clear:both"></div>
    </div>
    </div>
</div> 