<div id="footer">
    <!-- this span is for adding group button  -->
    <span id="group-buttons">
        <!-- placeholder  -->
    </span>

    <span id="group-settings">
        <!-- placeholder  -->
    </span>

    <!-- search button -->
    <span>  
        <li>
            <a class="waves-effect waves-light btn" id="toggle-search">
            <i class="large mdi-action-search"></i>
            </a>
        </li>  
    </span>

    <!-- search bar -->
    <div id="search" class="row white-text grey darken-3">
        <div class="container">
            <form id="searchFrom" autocomplete="off">
                <input id="input_Search" class="form-control" type="text" placeholder="{{searchbarPlaceholder}}" name="q"></input>
            </form>
        </div>
    </div>
</div>
