<center>
<div class="row">
  <h1>WAITING</h1>
</div>

<div id="masterPlayerControlPanel-div" class="row">
  <div class="row">
  	<a id="startGame-button" class="waves-effect waves-light btn">Start the Game !</a>
  </div>
</div>
</center>